<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrQCc85TWQSFjlTtc-_R6-7qLxUNoMRXc</string>
	<key>GCM_SENDER_ID</key>
	<string>895359772902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chayankaro.com</string>
	<key>PROJECT_ID</key>
	<string>chayan-karo-mvp-470914</string>
	<key>STORAGE_BUCKET</key>
	<string>chayan-karo-mvp-470914.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895359772902:ios:f4c404001c63e4e0f4f327</string>
</dict>
</plist>